/* Start Contact me */
.contact {
  padding-top: 110px;
  padding-bottom: 10px;
  min-height: 100vh;
  background-size: cover;
  background-color: #333;
  box-shadow: inset 0px 13px 62px black;
  position: relative;
  transition: 2s;
  overflow: hidden;
}
.contact .container {
  z-index: 100;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 0px 0px 40px;
  text-align: center;
  text-shadow: 0px 0px 4px var(--main-color), 0px 0px 8px var(--main-color);
  z-index: 111;
}
.contact img {
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 100%;
}

.contact form {
  padding: 30px 20px;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  margin: auto;
  margin-top: 90px;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border-style: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--main-color);
  outline: none;
  font-weight: bold;
  background-color: white;
  box-shadow: inset 0px 0px 5px white, 0px 0px 3px var(--main-color),
    0px 0px 5px var(--main-color);
}

.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 180px;
  resize: none;
}
.contact form input[type="submit"] {
  cursor: pointer;
  font-weight: bold;
  color: var(--main-color);
  background-color: white;
  box-shadow: 0px 0px 1px var(--main-color), 0px 0px 5px var(--main-color),
    0px 0px 8px var(--main-color), 0px 0px 12px var(--main-color),
    0px 0px 14px var(--main-color), 0px 0px 24px var(--main-color);
}

.contact form input::-webkit-input-placeholder,
.contact form textarea::-webkit-input-placeholder {
  color: var(--main-color);
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.contact form input:focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
  opacity: 0.2;
}
.contact form input:focus,
.contact form textarea:focus {
  background-color: white;
  box-shadow: 0px 0px 1px var(--main-color), 0px 0px 5px var(--main-color),
    0px 0px 8px var(--main-color), 0px 0px 12px var(--main-color),
    0px 0px 14px var(--main-color);
}
/* End Contact me */

/* <---------- Media Query ----------> */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    /* contactPage */
    .contact {
      padding-bottom: 0;
      padding-top: 10vh;
      min-height: 100vh;
    }
    .contact h2 {
      margin: 3vh;
    }
    .contact img {
      display: none;
    }
    .contact form .left {
      width: 100%;
    }
    .contact form .right {
      width: 100%;
    }
    .contact form {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
    .contact form input[type="submit"] {
      margin: 50px auto;
      width: 60vw;
      margin-left: auto;
    }
    /* End contactPage */
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  /* contactPage */
  .contact {
    padding-bottom: 0;
    padding-top: 10vh;
    min-height: 100vh;
  }
  .contact h2 {
    margin: 3vh;
  }
  .contact img {
    display: none;
  }
  .contact form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
  .contact form input[type="submit"] {
    margin: 50px auto;
    width: 60vw;
    margin-left: auto;
  }
  /* End contactPage */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* contactPage */
  .contact img {
    top: 50%;
    transform: translateY(-50%) scale(1.2);
  }
  .contact h2 {
    margin: 50px 0px 0px;
  }
  .contact form {
    padding: 30px 20px;
    position: relative;
    max-width: 90vw;
    margin-top: 50px;
  }
  /* End contactPage */
}